<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reports</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header class="header">
    Header
  </header>
  <main class="main container">
    <section class="activities">
      <h3 class="text-center title">
        Activities
      </h3>
      <textarea name="" id="" cols="30" rows="9"></textarea>
    </section>
    <section class="signature-container">
      <article class="signature-card">
        <h2 class="title text-center">Firma</h2>
        <div class="signature-content">
          <label>Nombre: </label>
          <input type="text">
        </div>
        <div class="signature-content">
          <label>Firma: </label>
          <input type="text">
        </div>
        <div class="signature-content">
          <label>Cargo: </label>
          <input type="text">
        </div>
      </article>
      <article class="signature-card">
        <h2 class="title text-center">Realizado por</h2>
        <div class="signature-content">
          <label>Nombre: </label>
          <input type="text" placeholder="Nombre">
        </div>
        <div class="signature-content">
          <label>Firma: </label>
          <input type="text" placeholder="Firma">
        </div>
        <div class="signature-content">
          <label>Cargo: </label>
          <input type="text" placeholder="Cargo">
        </div>
      </article>
    </section>
    Main
  </main>

</body>

</html>